@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    font-family: 'Fuzzy Bubbles', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0, .1)
}
.button-wrapper {
    display: flex;
    margin-top: 50px;
    gap: 80px;
}
.menu {
    font-family:fantasy;
    font-size: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: margin .5s;

}
.menu:hover {
    margin-top: 20px;
    cursor: pointer;
    
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 40px;
    gap: 20px;
    height: 500px;
    width: 700px;
    text-align: center;
    background-color: rgba(209, 201, 201, 0.8)
}
.content-wrapper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.current-tab{
    border-bottom: 4px solid rgb(0, 0, 0) !important;
}
.background {
    /* CHANGE BACKGROUND IMAGE TO BE MADE IN JS
       AND APPEND THAT TO BODY SOMEHOW */
    background-image: url(../src/assets/background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}